/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.header-box { 
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.logo-box {
    width: 80%;
}

.nav-box {
    display: flex;
    justify-content: space-between;
}

.nav-box a {
    padding-top: 15px;
    margin-left: 60px;
}

.nav-box a:hover {
  border-top-color: var(--main-color) ; 
  color: var(--main-color);  
  border-top-width:thick ;
  border-top-style: solid ;
    
}

.logo {
    width : 61px;
    height : 19px;
    padding-top: 15px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: left;
    padding-left: 10px;
    background-color: var(--main-bg-color);
}  

.footer-box article {
    width: 31%;
}

.main-box {
    display: flex;
    flex-direction: column; 
    margin-top: 50px;  

}

.hebergements-cards img {
    height: 136px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.hebergements-cards .card-content {   
    padding-left: 15px;
}

.hebergements-cards a {
    width: 30%;
    margin-top: 33px;
}

.hebergements-cards .card-title {
    margin-top: 5px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin: 0;
}

/****** Activites***********/
.activites {
    width: 100%;  
    padding-top: 33px;  
}

.activites .section-title {
    padding-left: 15px;
}

.activites-cards img {
    width: 100%;
    height: 380px;       
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.activites-cards .card-content {   
    padding-left: 15px;
}

.activites-cards a {
    width: 24%;
    margin-top: 33px;
}


.search-bar form {
    width: 30%;  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
}

.search-bar .fa-location-dot {
    color: black;
    background-color:var(--main-bg-color);  
    width: 10%; 
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
}

.search-bar input {
    font-weight: 700;
    border-style:solid; 
    border-width: 1px;
    border-color: var(--main-bg-color);
    text-align: center;
}

.button-search {    
    color: white;
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: none;
    padding: 15px;
}

.button-search-text {   
    font-weight: 700;
}

.button-search-icon {
    display: none;
}

.filters {        
    width: 50%;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.filter-title {  
    width: 10%;
    padding-top: 10px;
}

.filter-categories {     
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 90%;
}

.filter-categories h5 {
    border-radius: 20px; 
    border-style:solid; 
    border-width: 3px;
    padding: 10px;
    border-color: var(--main-bg-color);
    text-align: center;
}

.filter-categories h5:hover {
    background-color: var(--filter-bg-color);
}

.filter-text {
   padding-left: 5px;
   font-weight: 700;
}

.info-text {
    padding-left: 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .search .filters {        
        flex-direction: column;   
    }

    .search .filter-categories {       
        width: 100%;
        margin-top: 0;
    }

    .search .filter-title {  
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .header-box {
        background-color: var(--main-);
    }
    
    .header-box { 
        flex-direction: column;   

    }

    .header-box .logo-box {
        width: 100%;
        text-align: center;
    }

    .header-box .nav-box {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-color: var(--main-bg-color);
    }

    .header-box .nav-box a {
        padding-bottom: 15px;
        margin: 0;
    }

    .header-box .nav-box a:hover {
        border-top-style: none;
        border-bottom-color: var(--main-color); 
        border-bottom-style: solid;   
        border-bottom-width: 2px;          
    }
    
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        margin-top: 0;
    }

    .hebergements-and-populaires section {
        border-radius: unset;
    }

    .hebergements {
        width: 100%;
        margin-top: 50px;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 12px;
    }

    .populaires-cards .card-subtitle {
        font-size: 11px;
    }

    .hebergements-cards {
        padding-left: 15px;
        flex-direction: column;
    } 
    
    .hebergements-cards .card-content {   
        padding-left: 15px;
    }
    
    .hebergements .hebergements-cards a {
        width: 100%;
        margin-top: 33px;
    }

    .hebergements-cards .card-title {
        font-size: 12px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 11px;
    }

    .activites-cards {
        flex-direction: column;
    }

    .activites .activites-cards a {
        width: 100%;       
    }

    .activites .activites-cards img {       
        height: 160px;   
    }

    .footer-box {
        flex-direction: column;  
    }  
    
    footer .footer-box article {
        width: 100%;
        padding-left: 30px;
    }

    .search h2 {
        width: 80%;  
    }

    .search .search-bar {
        width: 100%;  
    }

    .search .button-search-text {
        display: none;
    }
    
    .search .button-search-icon {
        display: block;
    }

    .button-search .fa-search {
        color: white;
        background-color: var(--main-color);    
    }    

    .search .filters {        
        flex-direction: column;     
        width: 100%; 
        padding-left: 0;
    }

    .search .filters .filter-categories {       
        width: 100%;
        flex-wrap: wrap; 
        margin-top: 0;
    }

    .search .filters .filter-title {  
        width: 100%;
    }

    .search .filters .filter-categories h5 {       
        width: 30%;
    }  
}
